Source: libconfig-utils-dev
Maintainer: Jean-Michel Perraud <per202@csiro.au>
Section: libdevel
# Testsuite: autopkgtest-pkg-r
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Homepage: https://github.com/csiro-hydroinformatics/config-utils
#Vcs-Browser: https://salsa.debian.org/debian/moirai
#Vcs-Git: https://salsa.debian.org/debian/moirai.git
Rules-Requires-Root: no

Package: libconfig-utils-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Conflicts: libconfig-utils-dev
Description: Cross-projects reusable build configuration elements
 Additional macros for the Catch unit test framework
 .
 Cmake modules not found in the default cmake packages

