#!/usr/bin/make -f

export DH_VERBOSE = 1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_install:
	make install INSTALL_PREFIX=./debian/libconfig-utils-dev/usr
